.jumbotron {
  background: #472c76;
  color: #ede6f4;
  padding-bottom: 80px; }
.jumbotron .btn {
  background: #5317ba;
  border-color: #2e007e; }
.jumbotron .btn:hover {
  background:#6532bd; }
.jumbotron .btn-primary {
  background: #3035ef;
  border-color: #0c10a3; }
.jumbotron .btn-primary:hover {
  background:#6568f3; }
.jumbotron p {
  color: #c6b6d6;
  max-width: 75%;
  margin: 1em auto 2em; }
.navbar + .jumbotron {
  margin-top: -20px; }
table {
  text-align: center;
}
th {
  text-align: center;
}
.bg-blue-team {
  background: #205094;
}
.bg-red-team {
  background: #981d1d;
}
.text-blue-team {
  color: #40c5e1;
}
.text-red-team {
  color: #f80c0c;
}
h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
h3 {
  text-align: center;
}
