.jumbotron {
  background: #472C76;
  color: #EDE6F4;
  padding-bottom: 80px; }
.jumbotron .btn-primary {
  background: #5317BA;
  border-color: #2E007E; }
.jumbotron .btn-primary:hover {
  background:#6532BD; }
.jumbotron p {
  color: #C6B6D6;
  max-width: 75%;
  margin: 1em auto 2em; }
.navbar + .jumbotron {
  margin-top: -20px; }
table {
  text-align: center;
}
th {
  text-align: center;
}
.bgBlueTeam {
  background: #205094;
}
.bgRedTeam {
  background: #981d1d;
}
.textBlueTeam {
  color: #40c5e1;
}
.textRedTeam {
  color: #f80c0c;
}
h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
h3 {
  text-align: center;
}
