<html>
  {{template "header.tmpl"}}
<body>
  {{template "nav.tmpl"}}

  <div class="jumbotron text-center">
    <div class="container">
      <h2>About</h2>
      <p>This site and service was made for fun by Xelaadryth in his free time to get practice with different tools, libraries, and services.</p>

      <div class="row">
        <div class="text-left col-xs-6">
          <h3>Technologies</h3>
          <ul>
            <li><a href="https://golang.org/">Golang</a> - Web service and REST calls</li>
            <li><a href="https://github.com/">GitHub</a> - Source code management</li>
            <li><a href="https://www.docker.com/">Docker</a> - Consistent cross-platform deployment solution</li>
            <li><a href="https://www.heroku.com/">Heroku</a> - Free web app hosting and development tools</li>
            <li><a href="https://github.com/gin-gonic/gin">Gin</a> - HTTP web framework written in Go</li>
            <li><a href="https://developer.riotgames.com/">Riot Developer API</a> - RESTful API queries for League of Legends data</li>
            <li><a href="https://github.com/TrevorSStone/goriot">goriot</a> - Go wrapper for Riot Developer API</li>
            <li><a href="https://www.postgresql.org/">PostgreSQL</a> - Persistent storage</li>
            <li><a href="https://github.com/jackc/pgx">pgx</a> - Go database connection library for PostgreSQL</li>
            <li><a href="http://getbootstrap.com/">Bootstrap</a> - Front-end HTML/CSS formatting</li>
          </ul>
        </div>
        <div class="text-left col-xs-6">
          <h3>Credits</h3>
          Icons used here are courtesy of <a href="http://glyphicons.com/">Glyphicons</a> included with <a href="http://getbootstrap.com/components/#glyphicons">Bootstrap</a>.
          <h3>Disclaimer</h3>
          Fantasy Friends isn't endorsed by Riot Games and doesn't reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends. League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.
        </div>
      </div>
    </div>
  </div>
</body>
</html>
