<html>
  {{template "header.tmpl"}}
<body>
  {{with $navActive := "home"}}
  {{template "nav.tmpl" .}}
  {{end}}

  <div class="jumbotron text-center">
    <div class="container">
      <h1>Fantasy Friends</h1>
      <p>Duke it out with your friends to see who can draft the best team using anyone; even yourselves!</p>
      <form id="queryForm" action="/matchResults" method="post" class="form-horizontal">
        <div class="form-group">
          <label for="region" class="control-label col-xs-5">Region</label>
          <div class="col-xs-2">
            <input name="region" id="region" class="form-control" value="na">
          </div>
        </div>
        <div class="form-group col-md-6">
          <table class="table jumbotron table-bordered bgBlueTeam">
            <thead>
              <tr>
                <th>Blue</th>
              </tr>
            </thead>
            <tr>
              <td><input name="blueTeamTop" id="blueTeamTop" class="form-control" placeholder="Top" value="Riot Heartwumbo"></input></td>
            </tr>
            <tr>
              <td><input name="blueTeamJungle" id="blueTeamJungle" class="form-control" placeholder="Jungle" value="Riot Chomey"></input></td>
            </tr>
            <tr>
              <td><input name="blueTeamMid" id="blueTeamMid" class="form-control" placeholder="Mid" value="Riot Xelaadryth"></input></td>
            </tr>
            <tr>
              <td><input name="blueTeamBottom" id="blueTeamBottom" class="form-control" placeholder="Bottom" value="Riot tehleach"></input></td>
            </tr>
            <tr>
              <td><input name="blueTeamSupport" id="blueTeamSupport" class="form-control" placeholder="Support" value="Tainze"></input></td>
            </tr>
          </table>
        </div>
        <div class="form-group col-md-6">
          <table class="table jumbotron table-bordered bgRedTeam">
            <thead>
              <tr>
                <th>Red</th>
              </tr>
            </thead>
            <tr>
              <td><input name="redTeamTop" id="redTeamTop" class="form-control" placeholder="Top" value="C9 Balls"></input></td>
            </tr>
            <tr>
              <td><input name="redTeamJungle" id="redTeamJungle" class="form-control" placeholder="Jungle" value="C9 Meteos"></input></td>
            </tr>
            <tr>
              <td><input name="redTeamMid" id="redTeamMid" class="form-control" placeholder="Mid" value="Pobelter"></input></td>
            </tr>
            <tr>
              <td><input name="redTeamBottom" id="redTeamBottom" class="form-control" placeholder="Bottom" value="Doublelift"></input></td>
            </tr>
            <tr>
              <td><input name="redTeamSupport" id="redTeamSupport" class="form-control" placeholder="Support" value="Biofrost"></input></td>
            </tr>
          </table>
        </div>
        <div class="form-group row">
          <div class="col-xs-4 col-xs-offset-4">
            <button type="submit" class="btn btn-primary">Play</button>
        </div>
        </div>
      </form>
    </div>
  </div>
  <div class="container">
    <div class="alert alert-info text-center" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign"></span> This site is very much a work in progress, so stay tuned for rapid improvements!
    </div>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <h3><span class="glyphicon glyphicon-info-sign" id="how-to-play"></span> How to Play</h3>
        <ul>
            <li>You enter 10 different summoner names from players on the same region.</li>
            <li>We grab the 10 most recent games for each of those players, and keep only the ranked games.</li>
            <li>We calculate the fantasy score for each ranked game and pick the highest one for each player.</li>
            <li>We add up the scores for each team and tell you who wins!</li>
        </ul>
      </div>
      <div class="col-md-6">
        <h3><span class="glyphicon glyphicon-wrench"></span> Next Steps</h3>
        <ul>
          <li>Non-primary button styling</li>
          <li>Prettier error page</li>
          <li>Cache summoner ID info</li>
          <li>Add user sessions using gin middleware</li>
          <li>Update the layout</li>
          <li>Add persistent team storage for a user's custom team</li>
          <li>Randomize default opponent team</li>
          <li>Update user teams asynchronously for instant load times instead of 10 seconds (due to rate-limiting)</li>
          <li>Rebalance Fantasy points to favor role selection</li>
          <li>Fancier game simulator using an algorithm for smoothing scores to realistic values</li>
          <li>
            Stretch goals:
            <ul>
              <li>Add a footer</li>
              <li>Icons for players (summoner or champion)</li>
              <li>Give users option to give their email for password recovery (store hashed/salted)</li>
              <li>Password recovery</li>
              <li>Cache games and game scores</li>
              <li>Tournament/sandbox modes</li>
              <li>Deprecate used games to encourage players to play more actual League</li>
            </ul>
          </li>
        </ul>
      </div>
    </div> <!-- row -->
  </div>

</body>
</html>
