{{$displayName := index .session "displayName"}}
{{$region := index .session "region"}}
{{$team := index .session "team"}}
{{$enemyTeam := index .session "enemyTeam"}}
<html>
  {{template "header.tmpl"}}
<body>
  {{template "nav.tmpl" .session}}

  <div class="jumbotron text-center">
    <div class="container">
      <h1>Fantasy Friends</h1>
      {{if $displayName}}
      <p>Welcome back {{$displayName}}!</p>
      {{else}}
      <p>Duke it out with your friends to see who can draft the best team using anyone; even yourselves!</p>
      {{end}}
      <form id="queryForm" action="/matchResults" method="post" class="form-horizontal">
        <div class="form-group">
          <div class="col-md-6">
            <table class="table jumbotron table-bordered bg-blue-team">
              <thead>
                <tr>
                  <th>Blue</th>
                </tr>
              </thead>
              <tr>
                <td><input name="blueTeamTop" id="blueTeamTop" class="form-control" placeholder="Top" value="{{if $team}}{{index $team "top"}}{{else}}Riot Heartwumbo{{end}}"></input></td>
              </tr>
              <tr>
                <td><input name="blueTeamJungle" id="blueTeamJungle" class="form-control" placeholder="Jungle" value="{{if $team}}{{index $team "jungle"}}{{else}}Riot Chomey{{end}}"></input></td>
              </tr>
              <tr>
                <td><input name="blueTeamMid" id="blueTeamMid" class="form-control" placeholder="Mid" value="{{if $team}}{{index $team "mid"}}{{else}}Riot Xelaadryth{{end}}"></input></td>
              </tr>
              <tr>
                <td><input name="blueTeamBottom" id="blueTeamBottom" class="form-control" placeholder="Bottom" value="{{if $team}}{{index $team "bottom"}}{{else}}Riot tehleach{{end}}"></input></td>
              </tr>
              <tr>
                <td><input name="blueTeamSupport" id="blueTeamSupport" class="form-control" placeholder="Support" value="{{if $team}}{{index $team "support"}}{{else}}Tainze{{end}}"></input></td>
              </tr>
            </table>
          </div>
          <div class="col-md-6">
            <table class="table jumbotron table-bordered bg-red-team">
              <thead>
                <tr>
                  <th>Red</th>
                </tr>
              </thead>
              <tr>
                <td><input name="redTeamTop" id="redTeamTop" class="form-control" placeholder="Top" value="{{if $enemyTeam}}{{index $enemyTeam "top"}}{{else}}C9 Balls{{end}}"></input></td>
              </tr>
              <tr>
                <td><input name="redTeamJungle" id="redTeamJungle" class="form-control" placeholder="Jungle" value="{{if $enemyTeam}}{{index $enemyTeam "jungle"}}{{else}}C9 Meteos{{end}}"></input></td>
              </tr>
              <tr>
                <td><input name="redTeamMid" id="redTeamMid" class="form-control" placeholder="Mid" value="{{if $enemyTeam}}{{index $enemyTeam "mid"}}{{else}}Pobelter{{end}}"></input></td>
              </tr>
              <tr>
                <td><input name="redTeamBottom" id="redTeamBottom" class="form-control" placeholder="Bottom" value="{{if $enemyTeam}}{{index $enemyTeam "bottom"}}{{else}}Doublelift{{end}}"></input></td>
              </tr>
              <tr>
                <td><input name="redTeamSupport" id="redTeamSupport" class="form-control" placeholder="Support" value="{{if $enemyTeam}}{{index $enemyTeam "support"}}{{else}}Biofrost{{end}}"></input></td>
              </tr>
            </table>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-1 col-sm-offset-2">
            <label for="region" class="control-label">Region</label>
          </div>
          <div class="col-sm-2">
            <input name="region" id="region" class="form-control text-center" value={{if $region}}{{$region}}{{else}}{{"na"}}{{end}}>
          </div>
          <div class="col-sm-5">
            <button type="submit" class="form-control btn btn-primary">Play</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="container">
    <div class="alert alert-info text-center" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign"></span> This site is very much a work in progress, so stay tuned for rapid improvements!
    </div>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <h3><span class="glyphicon glyphicon-info-sign" id="how-to-play"></span> How to Play</h3>
        <ul>
            <li>You enter 10 different summoner names from players on the same region.</li>
            <li>We grab the 10 most recent games for each of those players, and keep only the ranked games.</li>
            <li>We calculate the fantasy score for each ranked game and pick the highest one for each player.</li>
            <li>We add up the scores for each team and tell you who wins!</li>
        </ul>
      </div>
      <div class="col-md-6">
        <h3><span class="glyphicon glyphicon-wrench"></span> Next Steps</h3>
        <ul>
          <li>Prevent randomized opposing team from being the same as player team.</li>
          <li>Allow cross-region teams/matches</li>
          <li>Validator for valid regions</li>
          <li>Make a favicon</li>
          <li>Update user teams asynchronously for instant load times instead of 10 seconds (due to rate-limiting)</li>
          <li>Rebalance Fantasy points to favor role selection</li>
          <li>Fancier game simulator using an algorithm for smoothing scores to realistic values</li>
          <li>
            Stretch goals:
            <ul>
              <li>Deal with deleted/NULL summoner IDs.</li>
              <li>Prettier error page with back redirect</li>
              <li>Add a footer</li>
              <li>Icons for players (summoner or champion)</li>
              <li>Give users option to give their email for password recovery (store hashed/salted)</li>
              <li>Password recovery</li>
              <li>Cache games and game scores</li>
              <li>Tournament/sandbox modes</li>
              <li>Deprecate used games to encourage players to play more actual League</li>
            </ul>
          </li>
        </ul>
      </div>
    </div> <!-- row -->
  </div>

</body>
</html>
