<html>
  {{template "header.tmpl"}}
<body>
  {{template "nav.tmpl" .session}}

  <div class="jumbotron text-center">
    <div class="container-fluid">
      <h1>Match Results</h1>
      <p>Winner is team <span class="text-{{.matchScore.WinningSide}}-team">{{.matchScore.WinningTeam}}</span>!</p>
      <div class="col-lg-6">
        <table class="table jumbotron table-bordered bg-blue-team text-nowrap">
          <thead>
            <tr>
              <th colspan=10>Blue</th>
            </tr>
            <tr>
              <th>Summoner Name</th>
              <th>K</th>
              <th>D</th>
              <th>A</th>
              <th>CS</th>
              <th>10KA</th>
              <th>TK</th>
              <th>QK</th>
              <th>PK</th>
              <th>Total</th>
            </tr>
          </thead>
          <tr>
            <td>{{.matchScore.BlueTeam.Top.SummonerName}}</td>
            <td>{{.matchScore.BlueTeam.Top.Kills}}</td>
            <td>{{.matchScore.BlueTeam.Top.Deaths}}</td>
            <td>{{.matchScore.BlueTeam.Top.Assists}}</td>
            <td>{{.matchScore.BlueTeam.Top.CSString}}</td>
            <td>{{.matchScore.BlueTeam.Top.TenKA}}</td>
            <td>{{.matchScore.BlueTeam.Top.TripleKills}}</td>
            <td>{{.matchScore.BlueTeam.Top.QuadraKills}}</td>
            <td>{{.matchScore.BlueTeam.Top.Pentakills}}</td>
            <td>{{.matchScore.BlueTeam.Top.ScoreString}}</td>
          </tr>
          <tr>
            <td>{{.matchScore.BlueTeam.Jungle.SummonerName}}</td>
            <td>{{.matchScore.BlueTeam.Jungle.Kills}}</td>
            <td>{{.matchScore.BlueTeam.Jungle.Deaths}}</td>
            <td>{{.matchScore.BlueTeam.Jungle.Assists}}</td>
            <td>{{.matchScore.BlueTeam.Jungle.CSString}}</td>
            <td>{{.matchScore.BlueTeam.Jungle.TenKA}}</td>
            <td>{{.matchScore.BlueTeam.Jungle.TripleKills}}</td>
            <td>{{.matchScore.BlueTeam.Jungle.QuadraKills}}</td>
            <td>{{.matchScore.BlueTeam.Jungle.Pentakills}}</td>
            <td>{{.matchScore.BlueTeam.Jungle.ScoreString}}</td>
          </tr>
          <tr>
            <td>{{.matchScore.BlueTeam.Mid.SummonerName}}</td>
            <td>{{.matchScore.BlueTeam.Mid.Kills}}</td>
            <td>{{.matchScore.BlueTeam.Mid.Deaths}}</td>
            <td>{{.matchScore.BlueTeam.Mid.Assists}}</td>
            <td>{{.matchScore.BlueTeam.Mid.CSString}}</td>
            <td>{{.matchScore.BlueTeam.Mid.TenKA}}</td>
            <td>{{.matchScore.BlueTeam.Mid.TripleKills}}</td>
            <td>{{.matchScore.BlueTeam.Mid.QuadraKills}}</td>
            <td>{{.matchScore.BlueTeam.Mid.Pentakills}}</td>
            <td>{{.matchScore.BlueTeam.Mid.ScoreString}}</td>
          </tr>
          <tr>
            <td>{{.matchScore.BlueTeam.Bottom.SummonerName}}</td>
            <td>{{.matchScore.BlueTeam.Bottom.Kills}}</td>
            <td>{{.matchScore.BlueTeam.Bottom.Deaths}}</td>
            <td>{{.matchScore.BlueTeam.Bottom.Assists}}</td>
            <td>{{.matchScore.BlueTeam.Bottom.CSString}}</td>
            <td>{{.matchScore.BlueTeam.Bottom.TenKA}}</td>
            <td>{{.matchScore.BlueTeam.Bottom.TripleKills}}</td>
            <td>{{.matchScore.BlueTeam.Bottom.QuadraKills}}</td>
            <td>{{.matchScore.BlueTeam.Bottom.Pentakills}}</td>
            <td>{{.matchScore.BlueTeam.Bottom.ScoreString}}</td>
          </tr>
          <tr>
            <td>{{.matchScore.BlueTeam.Support.SummonerName}}</td>
            <td>{{.matchScore.BlueTeam.Support.Kills}}</td>
            <td>{{.matchScore.BlueTeam.Support.Deaths}}</td>
            <td>{{.matchScore.BlueTeam.Support.Assists}}</td>
            <td>{{.matchScore.BlueTeam.Support.CSString}}</td>
            <td>{{.matchScore.BlueTeam.Support.TenKA}}</td>
            <td>{{.matchScore.BlueTeam.Support.TripleKills}}</td>
            <td>{{.matchScore.BlueTeam.Support.QuadraKills}}</td>
            <td>{{.matchScore.BlueTeam.Support.Pentakills}}</td>
            <td>{{.matchScore.BlueTeam.Support.ScoreString}}</td>
          </tr>
          <tr class="text-right">
            <td colspan=10>{{.matchScore.BlueTeam.ScoreString}}</td>
          </tr>
        </table>
      </div>
            <div class="col-lg-6">
        <table class="table jumbotron table-bordered bg-red-team">
          <thead>
            <tr>
              <th colspan=10>Red</th>
            </tr>
            <tr>
              <th>Summoner Name</th>
              <th>K</th>
              <th>D</th>
              <th>A</th>
              <th>CS</th>
              <th>10KA</th>
              <th>TK</th>
              <th>QK</th>
              <th>PK</th>
              <th>Total</th>
            </tr>
          </thead>
          <tr>
            <td>{{.matchScore.RedTeam.Top.SummonerName}}</td>
            <td>{{.matchScore.RedTeam.Top.Kills}}</td>
            <td>{{.matchScore.RedTeam.Top.Deaths}}</td>
            <td>{{.matchScore.RedTeam.Top.Assists}}</td>
            <td>{{.matchScore.RedTeam.Top.CSString}}</td>
            <td>{{.matchScore.RedTeam.Top.TenKA}}</td>
            <td>{{.matchScore.RedTeam.Top.TripleKills}}</td>
            <td>{{.matchScore.RedTeam.Top.QuadraKills}}</td>
            <td>{{.matchScore.RedTeam.Top.Pentakills}}</td>
            <td>{{.matchScore.RedTeam.Top.ScoreString}}</td>
          </tr>
          <tr>
            <td>{{.matchScore.RedTeam.Jungle.SummonerName}}</td>
            <td>{{.matchScore.RedTeam.Jungle.Kills}}</td>
            <td>{{.matchScore.RedTeam.Jungle.Deaths}}</td>
            <td>{{.matchScore.RedTeam.Jungle.Assists}}</td>
            <td>{{.matchScore.RedTeam.Jungle.CSString}}</td>
            <td>{{.matchScore.RedTeam.Jungle.TenKA}}</td>
            <td>{{.matchScore.RedTeam.Jungle.TripleKills}}</td>
            <td>{{.matchScore.RedTeam.Jungle.QuadraKills}}</td>
            <td>{{.matchScore.RedTeam.Jungle.Pentakills}}</td>
            <td>{{.matchScore.RedTeam.Jungle.ScoreString}}</td>
          </tr>
          <tr>
            <td>{{.matchScore.RedTeam.Mid.SummonerName}}</td>
            <td>{{.matchScore.RedTeam.Mid.Kills}}</td>
            <td>{{.matchScore.RedTeam.Mid.Deaths}}</td>
            <td>{{.matchScore.RedTeam.Mid.Assists}}</td>
            <td>{{.matchScore.RedTeam.Mid.CSString}}</td>
            <td>{{.matchScore.RedTeam.Mid.TenKA}}</td>
            <td>{{.matchScore.RedTeam.Mid.TripleKills}}</td>
            <td>{{.matchScore.RedTeam.Mid.QuadraKills}}</td>
            <td>{{.matchScore.RedTeam.Mid.Pentakills}}</td>
            <td>{{.matchScore.RedTeam.Mid.ScoreString}}</td>
          </tr>
          <tr>
            <td>{{.matchScore.RedTeam.Bottom.SummonerName}}</td>
            <td>{{.matchScore.RedTeam.Bottom.Kills}}</td>
            <td>{{.matchScore.RedTeam.Bottom.Deaths}}</td>
            <td>{{.matchScore.RedTeam.Bottom.Assists}}</td>
            <td>{{.matchScore.RedTeam.Bottom.CSString}}</td>
            <td>{{.matchScore.RedTeam.Bottom.TenKA}}</td>
            <td>{{.matchScore.RedTeam.Bottom.TripleKills}}</td>
            <td>{{.matchScore.RedTeam.Bottom.QuadraKills}}</td>
            <td>{{.matchScore.RedTeam.Bottom.Pentakills}}</td>
            <td>{{.matchScore.RedTeam.Bottom.ScoreString}}</td>
          </tr>
          <tr>
            <td>{{.matchScore.RedTeam.Support.SummonerName}}</td>
            <td>{{.matchScore.RedTeam.Support.Kills}}</td>
            <td>{{.matchScore.RedTeam.Support.Deaths}}</td>
            <td>{{.matchScore.RedTeam.Support.Assists}}</td>
            <td>{{.matchScore.RedTeam.Support.CSString}}</td>
            <td>{{.matchScore.RedTeam.Support.TenKA}}</td>
            <td>{{.matchScore.RedTeam.Support.TripleKills}}</td>
            <td>{{.matchScore.RedTeam.Support.QuadraKills}}</td>
            <td>{{.matchScore.RedTeam.Support.Pentakills}}</td>
            <td>{{.matchScore.RedTeam.Support.ScoreString}}</td>
          </tr>
          <tr class="text-right">
            <td colspan=10>{{.matchScore.RedTeam.ScoreString}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</body>
</html>
