<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li{{if eq . "home"}} class="active"{{end}}>
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li{{if eq . "play"}} class="active"{{end}}>
        <a href="/"><span class="glyphicon glyphicon-play"></span> Play</a>
      </li>
      <li class="dropdown{{if eq . "help"}} active{{end}}">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-info-sign"></span> Help <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/#how-to-play">How to Play</a></li>
            <li><a href="/about">About</a></li>
          </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right{{if eq . "user"}} active{{end}}">
        <a href="/login"><span class="glyphicon glyphicon-user"></span> Login/Register</a>
      </li>
    </ul>
  </div>
</nav>
