<html>
  {{template "header.tmpl"}}
<body>
  {{template "nav.tmpl"}}

	<div class="jumbotron text-center">
    <div class="container">
      <h2>New User Registration</h2>
      <form id="queryForm" action="/register" method="post" class="form-horizontal">
        <div class="form-group">
          <label for="username" class="control-label col-sm-4">Username:</label>
          <div class="col-sm-6">
            <input type="text" name="username" id="username" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <label for="password" class="control-label col-sm-4">Password:</label>
          <div class="col-sm-6">
            <input type="password" name="password" id="password" class="form-control" >
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</body>
</html>
